#function in python

In [1]:
def hello():
    print("good evening")

In [2]:
def hello():
    print("good evening")
hello()

good evening

In [3]:
def hello():
    print("good evening")
hello()

def hello():
    print("good evening")
hello()

def hello():
    print("good evening")
hello()

good evening
good evening
good evening

In [4]:
def hello():
    print('good evening')
    
hello()
hello()
hello()

good evening
good evening
good evening

In [5]:
def add(x,y):
    
    
    c=x+y
    print(c)
add(5,6)

11

In [6]:
def add(x,y,z):
    
    c=x+y+z
    print(c)
add(5,6)

TypeError: add() missing 1 required positional argument: 'z'

In [ ]:
def add(x,y,z):
    
    c=x+y+z
    print(c)
add(5,6,7)

18

In [ ]:
def add(x,y):
    
    
    c=x+y
    return(c)
add(5,6)

11

In [ ]:
def hello():
    print("good evening")
hello()


def add(x,y):
    
    
    c=x+y
    return(c)
add(5,6)

good evening

11

In [ ]:
def hello():
    print("good evening")


def add(x,y):
    
    
    c=x+y
    return(c)
hello()
add(5,6)

good evening

11

In [ ]:
def great():
    print('hello')
    print('good morning')
    
    
def add(x,y):
    c=x+y
    return(c)

def sub(x,y,z):
    d=x-y-z
    return(d)

great()
add(5,6)        
sub(9,5,2)

hello
good morning

2

In [ ]:
def add_sub(x,y):
    c=x+y
    d=x-y
    print(c,d)

add_sub(4,5)

9 -1

In [ ]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return(c,d)

add_sub(4,5)

(9, -1)

In [ ]:
def add_sub(x,y):
    c=x+y
    d=x-y
    print(c,d)

result = add_sub(4,5)
result1 = add_sub(4,5)

print(result)
print(result1)

9 -1
9 -1
None
None

In [ ]:
def add_sub(x,y):
    c=x+y
    d=x-y
    print(c,d)

result = add_sub(4,5)
result1 = add_sub(4,5)

print(result)
print(type(result1))

9 -1
9 -1
None
<class 'NoneType'>

In [ ]:
def add_sub(x,y):
    c=x+y
    d=x-y
    print(c,d)

result,result1 = add_sub(4,5)


print(result)
print(result1)

print(type(result))
print(type(result1))

9 -1

TypeError: cannot unpack non-iterable NoneType object

In [ ]:
def add_sub(x,y):
    c=x+y
    d=x-y
    e=x*y
    return c,d,e

result , result1, result2 = add_sub(4,5)
print(result)
print(result1)  
print(result2)

print(type(result) )
print(type(result1))
print(type(result2))

9
-1
20
<class 'int'>
<class 'int'>
<class 'int'>

#function Argument

In [ ]:
def update():
    x=8
    print(x)
update()

8

In [ ]:
def add(a,b):       #here a and b are formal arguments
    c=a+b
    print(c)    
add(5,6)         #5 and 6 are actual arguments

11

#  actual argument has 4 parts

#1=positional agrument \
#2=keyword argument\
#3=default argument\
#4=variable length argument

In [ ]:
def person(name,age):       
    print(name)
    print(age)
    
person('nit',22)

nit
22

In [ ]:
def person(name,age):       
    print(name)
    print(age)
    
person(22,'nit')

22
nit

In [ ]:
def person(name,age):       
    print(name)
    print(age-1)
    
person('nit',22)

nit
21

In [ ]:
def person(name,age):       
    print(name)
    print(age-1)
    
person(22,'nit')

22

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [ ]:
def person(name,age):       
    print(name)
    print(age+1)
    
person('nit',22)

nit
23

In [ ]:
def person(name,age):       
    print(name)
    print(age-1)
    
person('nit')

TypeError: person() missing 1 required positional argument: 'agr'

In [ ]:
def person(name,age):       
    print(name)
    print(age-1)
    
person(22)

TypeError: person() missing 1 required positional argument: 'agr'

In [ ]:
def person(name):       
    print(name)
    print(age+1)
    
person('nit',22)

TypeError: person() takes 1 positional argument but 2 were given

In [ ]:
def person(name,age):       
    print(name)
    print(age)
    
person('nit',22)

nit
22

In [ ]:
def person(name,age):       
    print(name)
    print(age+1)
    
person(22,'nit')

22

TypeError: can only concatenate str (not "int") to str

In [ ]:
def person(name,age):       
    print(name)
    print(age+1)
    
person(age=22,name='nit')

nit
23

In [ ]:
def person(name,age):       
    print(name)
    print(age+1)
    
person(age=22,name='nit', phone_no=363737)

TypeError: person() got an unexpected keyword argument 'phone_no'

# keyword argument

In [ ]:
#keyword argument
def person(name,age,phone_no):       
    print(name)
    print(age+1)
    print(phone_no)
    
person(age=22,name='nit', phone_no=363737)

nit
23
363737

In [ ]:
def person(name,age):       
    print(name)
    print(age)
    
person('nit')

TypeError: person() missing 1 required positional argument: 'age'

# default argument

In [ ]:
#default argument
def person(name,age=18):          # this is called default argument
    print(name)
    print(age)
    
person('nit')

nit
18

# variable length argument

In [ ]:
# variable length argument
def sum(a,b=15):
    c=a+b
    print(c)
    
sum(5)

20

In [ ]:
def sum(a,b):
    c=a+b
    print(c)
    
sum(3,4,2,6)

TypeError: sum() takes 2 positional arguments but 4 were given

In [ ]:
def sum(a,*b):
    c=a+b
    print(c)
    
sum(4,54,7,4)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [ ]:
def sum(a,*b):
    
    print(type(a))
    print(type(b))
    
sum(4,5,3,9)

<class 'int'>
<class 'tuple'>

In [ ]:
def sum(a,*b):
    c=a
    for i in b:
        c=c+i
    print(c)
    
sum(4,6,3,9)

22

In [ ]:
def sum(a,*b):
    c=a
    for i in b:
        c=c+i
    print(c)
    
sum(3,54,57,2,3,3)

122

# kwargs (keyword + variable length argument)

In [ ]:
def person():
    person('Alex',36,'John',2834734)

In [ ]:
def person(name,*data):
    print(name)
    print(*data)
    
person('Alex',36,'John',2834734)

Alex
36 John 2834734

In [ ]:
def person(name,*data):
    print('name')
    print(data)

person('ALEX', age = 36, home_place ='southcity', mob =987767)
# we got error as keyword argument thats why we add another *

TypeError: person() got an unexpected keyword argument 'age'

In [ ]:
def person(name, **data):
    print('name')
    print(data)

person('ALEX', age = 36, home_place ='southcity', mob =987767)
# we got error as keyword argument thats why we add another *

name
{'age': 36, 'home_place': 'southcity', 'mob': 987767}

In [ ]:
def person(name, **data):
    print('name')
    print(data)

person('ALEX', age = 36, home_place ='southcity', mob =987767, salary = 100000, comp = 'genpact')
# we got error as keyword argument thats why we add another *

name
{'age': 36, 'home_place': 'southcity', 'mob': 987767, 'salary': 100000, 'comp': 'genpact'}