#NUMBERS

In [1]:
2

2

In [2]:
2+3

5

In [3]:
3-2

1

In [4]:
5*3

15

In [5]:
2**4       #for find power we have to write ** in code

16

In [6]:
5/2         #float value

2.5

In [7]:
5//2         #int value

2

#PRINT FUNCTION

In [8]:
a=3
b=6
c=9
a

3

In [9]:
a=3
b=6                        #we can see when we type for value of b then value of a is automatically disappeared
c=9
b

6

In [10]:
a=3
b=6
c=9
print(a)                   # If we want display the values which we need
print(b)
print(c)

3
6
9

#STRING

In [11]:
welcome in my world              #The string is always in single,double,and triple quotes

SyntaxError: invalid syntax (3689683740.py, line 1)

In [ ]:
'welcome in my world'

'welcome in my world'

In [ ]:
'hellow i am the student of computer science and engineering
i am doing data science course under the guidance of               #multiline code always in triple quotes  
Mr.Prakash Senapati'

SyntaxError: unterminated string literal (detected at line 1) (3770093501.py, line 1)

In [ ]:
"hellow i am the student of computer science and engineering
i am doing data science course under the guidance of
Mr.Prakash Senapati"

SyntaxError: unterminated string literal (detected at line 1) (3119521010.py, line 1)

In [ ]:
'''hellow i am the student of computer science and engineering 
i am doing data science course under the guidance of                    
Mr.Prakash senapati'''

'hellow i am the student of computer science and engineering \ni am doing data science course under the guidance of                    \nMr.Prakash senapati'

In [ ]:
a="h"
a

'h'

In [ ]:
a="india"
a[2]             #if we only need one alphabet from the word  'i=0,n=1,d=2,i=3,a=4'

'd'

In [ ]:
a[0]

'i'

In [ ]:
a='india'
b='is'
c='my'
d='country'
a

'india'

In [ ]:
b

'is'

In [ ]:
print(a,b,c,d)

india is my country